@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Testing */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #081226;
    --secondary-background: #f1f3f4;
    --grey-darker: #747575;
    --grey-dark: #ababab;
    --grey-base: #eff1f3;
    --grey-light: #f1f3f4;
    --grey-lighter: #fbfbfb;
    --grey-neutral: #d8dbdd;
    --grey-text: #292d32;
    --primary: #ff0000;
  }

  .dark {
    --background: #000000;
    --foreground: #d1cfcf;
    --secondary-background: #ffffff1a;
    --grey-base: #fff3;
    --grey-darker: #d1cfcf;
    --grey-dark: #747575;
    --grey-light: #ffffff1a;
    --grey-lighter: #ffffff1a;
    --grey-neutral: hsla(0, 0%, 100%, 0.18);
    --grey-text: #d1cfcf;
    --primary: #ff0000;
  }
}

@layer base {
  .dark {
    @apply bg-background text-foreground;
  }
}

.home_search_bar {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab) border-box;
  animation: animateGradient 3s ease infinite alternate;
  background-size: 200% 200%;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  border: 3px solid transparent;
  width: calc(100% - 32px);
}

@keyframes animateGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.details ul {
  padding-left: 20px;
  list-style-type: disc;
}

.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
